/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bg-dark {
  background-color: #8c001a!important; 
}

h1 {
  color: #8c001a;
}

.btn-primary {
  background-color: #8c001a;
  border-color: #8c001a;
}

img#pp {
  float: left;
  padding: 0 10px 10px 0;
  height: 50%;
  width: auto;
}
